@{
    string controller =
        ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    string action =
        ViewContext.RouteData.Values["action"]?.ToString() ?? "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsPro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">SportsPro</a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                    @*Use shortened links.*@
            <div class="navbar-nav me-auto">
                        <a class="nav-item nav-link
                      @(controller == "Home" && action == "Index" ? "active" : "")"
                           asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-item nav-link
                      @(controller == "Product" ? "active" : "")"
                           asp-controller="Product" asp-action="List">Products</a>  
                        <a class="nav-item nav-link
                        @(controller == "Technician" ? "active" : "")"
                            asp-controller="Technician" asp-action="GetTechnician">Technicians</a>
                        <a class="nav-item nav-link
                      @(controller == "Customer" ? "active" : "")"
                           asp-controller="Customer" asp-action="List">Customers</a>
                        <a class="nav-item nav-link
                      @(controller == "Incident" ? "active" : "")"
                           asp-controller="Incident" asp-action="List">Incidents</a>
                        <a class="nav-item nav-link
                      @(controller == "Registration" ? "active" : "")"
                           asp-controller="Registration" asp-action="Get">Registrations</a>
            </div>
            <div class="navbar-nav ms-auto">
                        <a class="nav-item nav-link
                      @(controller == "Home" && action == "About" ? "active" : "")"
                           asp-controller="Home" asp-action="About">About</a>
            </div>
        </nav>
            </div>
        </nav>

        @if(TempData.Keys.Contains("Message"))
        {
            <h4 class="bg-info text-white text-center p-2 rounded">@TempData["Message"]</h4>
        }

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-3 pb-3">
        <div class="container">&copy; @DateTime.Now.Year - SportsPro</div>
    </footer> 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>